.li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 10px;
}

.img {
  width: 220px;
  border-radius: 2px;
}

.p {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
